<h2>All Wikis</h2>
<div class="row">
  <table class="table table-hover">
    <thead>
      <td width="70%"><h4>Wiki Title</h4></td>
      <td width="30%"><h4>Actions</h4></td>
    </thead>
    <tbody>
      <% @wikis.each do |wiki| %>
        <tr>
          <td><%= wiki.title %></td>
          <td>
            <button class="btn btn-primary btn-xs">Edit</button>
            <button class="btn btn-danger btn-xs">Delete</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
